/*------------- Mise en page de la page ----------*/
html {
    height: 100%;
    padding-top: 0px;
    position: relative;
    width: 100%;
  }
  body {
    min-height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    position: relative;
    background-color:#33597a;
    width: auto;

}
/*------Bare de Navigation*/


nav.menu-nav .barre li.bouton{
    display: inline-block;
}

nav.menu-nav .barre a {
    list-style-type:none;
    color: white;
    background-color: teal;
    text-decoration: none;
    padding : 25px;
}

nav.menu-nav .barre li.bouton:hover a{
    color:white;
    background-color: black;
    transition: 0.3s;
    padding: 25px;
}
.barre{
    background-color:teal;
    padding: 23px;
    margin: 0px;
    margin-bottom: 2px;
    margin-right: 0%;
    width: 99%;
    position: fixed;
    display: block;
    top: 0;
    /* z-index: 999; */
}
/*---------- Haut de page ------*/


header{
    background-color: #33597a;
    color: black;
    display: block;
}

.nom{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    width: 20%;
    text-align: right;
}
/* --------Pied de page-----*/
footer{
    padding: 10px;
    text-align: center;
    background-color:teal;
    color: black;
    width: 100%;
    position: absolute; 
    height: 90px;
    bottom: 0;
}


.social{
    display: flex;
    justify-content: space-around;
    margin: 10px auto 0px auto;
}
.social img{
    width: 40px;
    height: 40px;
}




/*---------------- Bouton haut de page ---------*/

#haut {
    position: fixed;
    bottom: 50px;
    right: 10px;
}

#haut img {
    width: 50x;
    height: 50px;
}




.column:hover{
    cursor: pointer;
    /* -webkit-transform: scale(1.3);
    transform: scale(1.3); */
    background-color: black;
    color:white; 

}

.row{
    width: 0 auto;
    height: 0 auto;
}
  .column {
    font-size: 2em;
    vertical-align:middle;
    line-height: 250px;
    text-align: center;
    position: relative;
    margin-top: 5em;
    margin-left: 4em;
    float: left;
    width: 20%;
    padding: 0px;
    height: 300px;
    background-color:teal;
    color: white;

  }

  @media (max-width: 600px) {
    .column {
      width: 100%;
    }
}


.mot_carre:hover a{
    background-color: black;
    cursor: pointer;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    color: teal;

}

 .mot_carre { 
    text-decoration: none;
    color: black;
}   

 /*-------- ZOOM --------------*/
 /* .zoom-out div a {
	-webkit-transform: scale(1.25);
	transform: scale(1.25);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.zoom-out div:hover a {
	-webkit-transform: scale(1);
	transform: scale(1);
} */

/* -------- Fil d'Ariane */

.fil li {
    position: fixed;
    display: block;
    top: 12%;
    /* right: 50%;*/
    left: 45%; 
    padding-right: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
}

.fil{
    padding-left: 0;
}

/* Réseaux Sociaux */

.social{
    display: inline-block;
    justify-content: space-around;
    margin: 10px auto 0px auto;
    position: fixed;
}
.social img{
    width: 40px;
    height: 40px;
    position:relative;
    top: 175px;
}

.upec {
    position: absolute;
    bottom: 0;
    transform: translateX(0%) translateY(-1%);
    right: 1.5%;
    width: 240px;
    height: 108px;
}


.texte_footer{
    font-size: 1.5em;
}

